<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
                  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
<bean id = "text_editor" class = "com.metacube.training.TextEditor" autowire = "byName">
	<property name = "type" value = "Utkarsh Mundra"/>
	
</bean>
<bean id = "sc1" class = "com.metacube.training.SpellChecker">
	<property name = "a" value = "AR Rahman"/>
	<property name = "b" value = "Shankar Mahadevan"/>
</bean>
<bean id = "sc2" class = "com.metacube.training.SpellChecker">
	<property name = "a" value = "Amitabh Bachhan"/>
	<property name = "b" value = "Rajesh Khanna"/>
</bean>
<bean id = "sc3" class = "com.metacube.training.SpellChecker">
	<property name = "a" value = "Arijit Singh"/>
	<property name = "b" value = "Atif Aslam"/>
</bean>
</beans>