<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Add Employee Details</title>

</head>
<body>
	<div>
	    <h2>Add employee details</h2>
	
	
		<form th:object="${employee}" th:action="@{../employee}" method="post">
			<input type="hidden"  th:field="*{empCode}" />
			<br>
			 <label>First Name:</label> 
			 <input type="text" th:field="*{firstName}" required/> 
				<br>
			<label>Last Name</label> 
			<input type="text"  th:field="*{lastName}" required/> 
				<br>
			<label>DOB:</label> 
			<input type="date"  th:field="*{dob}" required/> 
			<br>
			<label>email:</label> 
			<input type="email" th:field="*{emailId}" required/>
			<br>

			
			<label>gender:</label>
		    <select th:field="*{gender}" required>
                     <option value=""> -- </option>
                     <option value="M">Male</option>
                     <option value="F">Female</option>
             </select>
			<br>
			<label>Primary Contact Number</label> 
			<input type="number" th:field="*{primaryContactNumber}" required/>
			<br> 
			<label>Secondary Contact Number</label> 
			<input type="number" th:field="*{secondaryContactNumber}" required/>			            
              <br>
              <label>Job</label>
                  <select th:field="*{jobTitle}" required>
                     <option value=""> -- </option>
                     <option th:each="job : ${jobs}"
                        th:value="${job.id}"
                        th:utext="${job.jobTitle}" />
                  </select>
               <br>   
             <label>project</label>
                  <select th:field="*{projectTitle}" required>
                     <option value=""> -- </option>
                     <option th:each="project : ${projects}"
                        th:value="${project.id}"
                        th:utext="${project.name}"/>
             </select>
             <br>
			<label>Team leader</label>
                  <select th:field="*{teamLeader}" required>
                     <option value=""> -- </option>
                     <option th:each="employee : ${teamLeaders}"
                        th:value="${employee.empCode}"
                        th:utext="${employee.firstName}"/>
             </select>
             <br>
             <label>Manager</label>
                  <select th:field="*{manager}" required>
                     <option value=""> -- </option>
                     <option th:each="employee : ${managers}"
                        th:value="${employee.empCode}"
                        th:utext="${employee.firstName}"/>
             </select>
			<button type="submit" class="btn btn-primary">Save</button>

		</form>
	</div>
</body>
</html>