body {
		height: 100%;
		width: 100%;
		margin: 0px;
		font-family:Verdana;
		font-size: 12px;
		background-image: url("../images/bodybg.png") !important;
	}

	#header {
		height: 20%;
		padding-top: 10px;
		background-image: url("../images/homebg.png");
		background-size: cover;
	}

	.header_footer div{

		width: 32%;
		text-align: center;
		display: inline-block;
	}

	#header_menu li, #header_icons img,#cover div,#cover_buttons a,#header_div div,#features div{
		display: inline-block;
	}

	#header_menu a ,#header_icons img{
		color: white;
		text-decoration: none;
		padding: 7px;
	}


	#cover {
		width: 80%;
		padding-top: 100px;
		padding-left: 250px;
	}

	#cover div{
		height: 650px;
		/*width: 49%;*/
		text-align: center;
	}

	#cover_image {
		float: center;
		margin-top: 5px;
		width: 60%;

	}

	#cover_image img{
		width: 450px;
	}

	#cover_header h1 {
		font-size: 50px;
		color: white;
		text-align: left;
	}

	.buttons {
		font-size: 13px;
		border-radius: 5px;
		color: white;
		padding: 13px;
		width: 100px;
		height: 40px;
		float: left;
	}

	#download_button {
		margin-left: 4px;
		background-color: tomato;
		border-color: tomato;
	}

	#features_button {
		margin-left: 4px;
		background-color: #5376E3;
		border-color: #5376E3;
	}

	#cover_header {
		vertical-align: top;
		width: 35%;
	}

	.heading h1{
		padding-top: 100px;	
		font-size: 35px;
		color: #4F8EFF;
		text-align: center;
	}

	.heading span{
		text-align: center;
		font-size: 15px;
		display: block;
	}

	#features{
		margin-top: 100px;
		margin-left: 100px;
	}

	#features_section{
		width: 90%;
		padding-left: 100px;
	}

	.parts {
		width: 32%;
		display: inline-block;
	}

	.parts div{
		display: inline-block;
	}

	.inner_parts {
		width: 60%;
	}

	.inner_pic {
		width: 20%;
	}

	#slider img{
		float: center;
		margin-top: 50px;
		width: 70%;
		margin-left: 200px;
	}

	.mobiles div, .review_parts div{
		display: inline-block;
	}

	#screenshot_body, #reports{
		float: center;
		margin-top: 100px;
		width: 80%;
		margin-left: 150px;

	}

	.mobile_parts {
		padding-left: 50px;
		width: 40%;
		vertical-align: 250px;
	}

	.mobile_pics {
		width: 40%;
		text-align: center;
	}

	.review_parts div{
		width: 40%;
		text-align: left;
		font-size: 20px;
		font-weight: bold;
		padding: 20px 5px 10px 25px;
		display: inline-block;
	}

	#review_report, #screenshots, #features_section{
		height: 60%;
		background-image: url("../images/bodybg.png");
	}

	.review_inner{
		margin-left: 110px;
	}

	.writer {
		font-size: 15px;
	}

	#bottom {
		margin-top: 60px;
		width: 100%;
		height: 12%;
		padding-top: 10px;
		background-image: url("../images/downloadbg.png");
	}

	#download div{
		display: inline-block;
	}

	#download_first{
		width: 30%;
		margin-left: 150px;
		vertical-align: 100px;
		color: white;
	}

	#download_second {
		width: 50%;
	}

	#download_second img{
		float: right;
		width: 70%;
		padding-top: 100px;
		padding-left: 50px;
	}

	#download_first h1 {
		font-size: 30px;
		color: white;
	}

	#download_first p {
		font-size: 15px;
		color: white;
		text-align: left;
	}

	#footer {
		height: 12%;
		padding-top: 10px;
		background-color: #383953;
		background-size: cover;
	}

	#footer span {
		text-align: center;
		display: block;
	}

	#footer_span {

		margin: 50px;

	}

	.footer_part {
		padding: 2px 15px;
	}

	#right {
		padding-top: 20px;
		color: white;
	}